
/* tailwindcss */
@import "_tailwind.css";

@font-face {
    font-family: "FilsonProBook";
    src: url(/assets/fonts/FilsonProBook.otf);
}
@font-face {
    font-family: "FilsonProBold";
    src: url("/assets/fonts/FilsonProBold.otf"); 
}

html,
body,
#root,
.app,
.content {
    /* height: 100%; */
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-track-center li {
    display: flex;
    justify-content: center;
}


.bg-image-blur {
    background-image: url("/assets/images/blur-main.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}