@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FilsonProBook";
    src: url(/assets/fonts/FilsonProBook.otf);
}
@font-face {
    font-family: "FilsonProBold";
    src: url("/assets/fonts/FilsonProBold.otf"); 
}
html {
    scroll-behavior: smooth;
}

.bg-image-blur {
    background-image: url("/assets/images/blur-main.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
